<div class="bg-service">
<!-- Header -->
<nav class="nav text-light">
      <a class="nav-link active text-light font-size-20px"> <i class="fas fa-address-book"></i> </a>
      <a class="nav-link active text-light font-size-20px text-uppercase font-open-sans" href="{{ url_for('index1') }}"> Home </a>
      <a class="nav-link active text-light font-size-20px text-uppercase font-open-sans" href="{{ url_for('index1') }}"> About </a>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- make a for loop to generate id for forms  -->
  <div class="carousel-inner">
    <form action="" method="POST">
            <div class="carousel-item active">
              <input type="text" name="cv_id" value={{template1.id}} style="display:none;">
              <input type="text" name="user_id" value="5abe74c7dec2180178cbc907" style="display:none;">
              <a type='submit'>
                <a  href="{{ url_for('login', cv_id= template1.id) }}">
                  <div class="text-center">
                    <img src="../static/images/student_2.png" class="rounded" alt="First Slide" height=500 width=400>
                  </div>
                </a>
              </a>

            </div>
            <div class="carousel-item">
              <a href="">
                <div class="text-center">
                  <img src="../static/images/student_3.jpg" class="rounded" alt="First Slide" height=500 width=400>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="">
                <div class="text-center">
                  <img src="../static/images/student_4.jpg" class="rounded" alt="First Slide" height=500 width=400>
                </div>
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
</form>
</div>

<div class='text-center mt-2 text-dark font-size-30px font-weight-bold'> Choose your favorite CV template! </div>
