<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CV-form-edit</title>
      {% include "metadata.html" %}
      <link rel="stylesheet" href="../../static/cv_form.css">
  </head>
  <body>

    <header  id="Save-button" class="mb-1">
      <form method= 'post'>
              <div class="">
                  <button type="submit" class="btn btn-primary">Save section data</button>
              </div>
          </header>
          <section class="d-flex justify-content-between">
              <section id="Div-size-1" class="mb-4" style="overflow:auto;">
                <div id="name_section">
                          <h3>Name Section</h3>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Input your full name</label>
                            <input class="form-control" name="name" id="exampleFormControlInput1" placeholder="{{template1.name}}">
                          </div>


                            <div class="form-group">
                              <label for="inputAddress">Street Address</label>
                              <input type="text" class="form-control" name="street_address" id="inputAddress" placeholder="{{template1.street_address}}">
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" name = "city" id="inputCity" placeholder="{{template1.city}}">
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputState">Country</label>
                                <select id="inputState" class="form-control" name="country">

                                  <option value="Vietnam" selected>Vietnam</option>
                                  <option value="US">US</option>
                                  <option value="UK">UK</option>
                                  <option value="China">Go away!</option>
                                </select>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputPhonenumber">Phone Number</label>
                                  <input type="Phonenumber" class="form-control" name="Phonenumber" id="inputPhonenumber" placeholder="{{template1.Phonenumber}}">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4">Email</label>
                                  <input type="email" class="form-control" name="Email" id="inputEmail4" placeholder="{{template1.Email}}">
                                </div>
                              </div>

        </div>
        <div id="Education_section" class="form-group mt-3">
            <h3>Education section</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Input your university</label>
                  <input type="University" class="form-control" name="university" id="inputUni" placeholder="{{template1.university}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPhonenumber">University location</label>
                  <input type="Phonenumber" class="form-control" name="uni_location" id="input location" placeholder="{{template1.uni_location}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPhonenumber">Your major</label>
                  <input type="Phonenumber" class="form-control" name="major" id="input major" placeholder="{{template1.major}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPhonenumber">Graduation date</label>
                  <input type="Phonenumber" class="form-control" name="graduation_date" id="input time" placeholder="{{template1.graduation_date}}">
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">GPA</label>
                    <input type="GPA" class="form-control" name="GPA" id="inputGPA" placeholder="{{template1.GPA}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputSAT">SAT (leave blank if not available)</label>
                    <input type="SAT" class="form-control" name="SAT" id="input SAT" placeholder="{{template1.SAT}}">
                  </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Honors</label>
                <textarea class="form-control" id="input Honor" name="Honors" placeholder="{{template1.Honors}}"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Relevant Coursework</label>
                <textarea class="form-control" id="input Coursework" name="Relevant_Coursework" placeholder="{{template1.Relevant_Coursework}}"></textarea>
              </div>
          </div>
        <div id="work-experience_section" class="form-group mt-3">
              <h3>Work Experience Section</h3>
              <div id="job-1">
                    <h4> Job 1 section</h4>
                    <div  class="form-row">
                  <div class="form-group col-md-6">
                    <label for="input Company 1">Company 1</label>
                    <input type="Company 1" class="form-control" id="input Com 1" name="Company1" placeholder="{{template1.Company1}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="input Company 1 location">Company 1 location</label>
                    <input type="company 1 location" class="form-control" id="input location" name="Company1_location"placeholder="{{template1.Company1_location}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="input Position">Your Position</label>
                    <input type="Position" class="form-control" id="input Position" name="Company1_Position" placeholder="{{template1.Company1_Position}} ">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPhonenumber">Time of employment</label>
                    <input type="Phonenumber" class="form-control" name="Company1_duration" id="input employment" placeholder="{{template1.Company1_duration}}">
                  </div>
                </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bullet 1</label>
                    <textarea class="form-control" id="input Bullet 1" name="Company1_Bullet1" placeholder="{{template1.Company1_Bullet1}}"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bullet 2</label>
                    <textarea class="form-control" id="input Bullet 2" name="Company1_Bullet2" placeholder="{{template1.Company1_Bullet2}}"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bullet 3</label>
                    <textarea class="form-control" id="input Bullet 3" name="Company1_Bullet3" placeholder="{{template1.Company1_Bullet3}}"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bullet 4</label>
                    <textarea class="form-control" id="input Bullet 4" name="Company1_Bullet4" placeholder="{{template1.Company1_Bullet4}}"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Bullet 5</label>
                    <textarea class="form-control" id="input Bullet 5" name="Company1_Bullet5" placeholder="{{template1.Company1_Bullet5}}"></textarea>
                  </div>
                </div>

              </div>

              <div id="job-2">
                            <h4> Job 2 section</h4>
                            <div  class="form-row">
                          <div class="form-group col-md-6">
                            <label for="input Company 1">Company 2</label>
                            <input type="Company 2" class="form-control" name="Company2" id="input Com 2" placeholder="{{template1.Company2}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="input Company 2 location">Company 2 location</label>
                            <input type="company 2 location" class="form-control" name="Company2_location" id="input location" placeholder="{{template1.Company2_location}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="input Position">Your Position</label>
                            <input type="Phonenumber" class="form-control" id="input Position" name="Company2_Position" placeholder="{{template1.Company2_Position}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPhonenumber">Time of employment</label>
                            <input type="Phonenumber" class="form-control" id="input employment" name="Company2_duration" placeholder="{{template1.Company2_Employment}}">
                          </div>
                        </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Bullet 1</label>
                            <textarea class="form-control" id="input Bullet 1" name="Company2_Bullet1" placeholder="{{template1.Company2_Bullet1}}"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Bullet 2</label>
                            <textarea class="form-control" id="input Bullet 2"  name="Company2_Bullet2" placeholder="{{template1.Company2_Bullet2}}"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Bullet 3</label>
                            <textarea class="form-control" id="input Bullet 3"  name="Company2_Bullet3" placeholder="{{template1.Company2_Bullet3}}"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Bullet 4</label>
                            <textarea class="form-control" id="input Bullet 4"  name="Company2_Bullet4" placeholder="{{template1.Company2_Bullet4}}"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Bullet 5</label>
                            <textarea class="form-control" id="input Bullet 5" name="Company2_Bullet5" placeholder="{{template1.Company2_Bullet5}}"></textarea>
                          </div>
                        </div>

                </div>

              <div id="job-3">
                      <h4> Job 3 section</h4>
                      <div  class="form-row">
                    <div class="form-group col-md-6">
                      <label for="input Company 1">Company 3</label>
                      <input type="Company 3" class="form-control" id="input Com 3" name="Company3" placeholder="{{template1.Company3}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="input Company 1 location">Company 3 location</label>
                      <input type="company 1 location" class="form-control" id="input location" name="Company3_location" placeholder="{{template1.Company3_location}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="input Position">Your Position</label>
                      <input type="Phonenumber" class="form-control" id="input Position" name="Company3_Position" placeholder="{{template1.Company3_Position}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPhonenumber">Time of employment</label>
                      <input type="Phonenumber" class="form-control" id="input employment" name="Company3_duration" placeholder="{{template1.Company3_duration}}">
                    </div>
                  </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Bullet 1</label>
                      <textarea class="form-control" id="input Bullet 1"  name="Company3_Bullet1" placeholder="leave blank if not available"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Bullet 2</label>
                      <textarea class="form-control" id="input Bullet 2" name="Company3_Bullet2" placeholder="leave blank if not available"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Bullet 3</label>
                      <textarea class="form-control" id="input Bullet 3" name="Company3_Bullet3" placeholder="leave blank if not available"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Bullet 4</label>
                      <textarea class="form-control" id="input Bullet 4" name="Company3_Bullet4" placeholder="leave blank if not available"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Bullet 5</label>
                      <textarea class="form-control" id="input Bullet 5" name="Company3_Bullet5" placeholder="leave blank if not available"></textarea>
                    </div>
                  </div>

                </div>


              <!-- <div id="job-4">
                        <h4> Job 4 section</h4>
                        <div  class="form-row">
                      <div class="form-group col-md-6">
                        <label for="input Company 4">Company 4</label>
                        <input type="Company 4" class="form-control" id="input Com 4" name="Company4" placeholder="XYZ Company 4">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input Company 4 location">Company 4 location</label>
                        <input type="company 4 location" class="form-control" id="input location" name="Company4_location" placeholder="Ex: Hanoi, Vietnam">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input Position">Your Position</label>
                        <input type="Phonenumber" class="form-control" id="input Position" name="Company4_Position" placeholder="Ex: Employee of the Month ">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPhonenumber">Time of employment</label>
                        <input type="Phonenumber" class="form-control" id="input employment" name="Company4_duration" placeholder="Ex: May 2010 - Present">
                      </div>
                    </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Bullet 1</label>
                        <textarea class="form-control" id="input Bullet 1" name="Company4_Bullet1" placeholder="leave blank if not available"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Bullet 2</label>
                        <textarea class="form-control" id="input Bullet 2" name="Company4_Bullet2" placeholder="leave blank if not available"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Bullet 3</label>
                        <textarea class="form-control" id="input Bullet 3" name="Company4_Bullet3" placeholder="leave blank if not available"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Bullet 4</label>
                        <textarea class="form-control" id="input Bullet 4" name="Company4_Bullet4" placeholder="leave blank if not available"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Bullet 5</label>
                        <textarea class="form-control" id="input Bullet 5" name="Company4_Bullet5" placeholder="leave blank if not available"></textarea>
                      </div>
                    </div>

                  </div> -->

        </div>
        <div id="Activities and Interests" class="form-group mt-3">
            <h3>Activities and Interests</h3>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Languages</label>
            <textarea class="form-control" id="input Honor" name="Languages" placeholder="leave blank if not available"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Technical Skills</label>
            <textarea class="form-control" id="input Honor" name="Technical_skills" placeholder="leave blank if not available"></textarea>
          </div><div class="form-group">
            <label for="exampleFormControlTextarea1">Training</label>
            <textarea class="form-control" id="input Honor" name="Training" placeholder="leave blank if not available"></textarea>
          </div>
          <label for="exampleFormControlTextarea1">Activities</label>
          <textarea class="form-control" id="input Honor" name="Activities" placeholder="leave blank if not available"></textarea>
        </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Interests</label>
            <textarea class="form-control" id="input Coursework" name="Interests" placeholder="leave blank if not available"></textarea>
          </div>
        </div>
      </form>

      </section>


      <section  id="section2" class="">
          <img src="../../static/images/CV_template1.jpg" alt="">

      </section>

</section>
















</body>
</html>
