<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign-up</title>
  </head>
  <body>
    <h1>Please Sign up</h1>
      <form class=""  method="post">
              <label for="">Username</label>
              <input type="text" name="Username" value="">
              <label for="">Password</label>
              <input type="password" name="Password" value="">

              <label for="">email</label>
              <input type="email" name="email" value="">

              <label for="">Phonenumber</label>
              <input type="Phonenumber" name="Phonenumber" value="">

              <input type="submit" name="signup" value="Sign-up">
              <p>{{message}}</p>
      </form>
  </body>
</html>
